@page
@model Presentacion.Pages.Solicitudes.IndexModel
@{ViewData["Title"]="Solicitud de Servicios";
}

<h1>Listado de Solicitudes de Servicios</h1>
<p>
    <a asp-page="Crear" class="btn btn-success"><i class="fas fa-plus"></i> Crear Solicitud</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Prioridad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var soli in Model.Solicitudes)
        {
            <tr>
                <td>@soli.Id </td>
                <td>@soli.Categoria </td>
                <td>@soli.Descripcion </td>
                <td>@soli.Prioridad </td>
                <td>
                    <a class="btn btn-outline-primary" asp-page="./Editar" asp-route-id="@soli.Id"><i class="fas fa-edit"></i> Editar</a>
                    <a class="btn btn-danger" asp-page="./Eliminar" asp-route-id="@soli.Id"><i class="fas fa-trash-alt"></i> Eliminar</a>
                    <a class="btn btn-info" asp-page="./Detalles" asp-route-id="@soli.Id"><i class="fas fa-info"></i> Detalles</a>
                </td>
            </tr>
        }
    </tbody>   
</table>