@page
@model Presentacion.Pages.Colaboradoras.IndexModel
@{ViewData["Title"]="Entidades Colaboradoras";
}

<h1>Listado de Entidades Colaboradoras</h1>
<p>
    <a asp-page="Crear" class="btn btn-success"><i class="fas fa-plus"></i> Crear Entidad</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Razón Social</th>
            <th>NIT</th>
            <th>Tipo de Servicios</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var col in Model.Colaboradoras)
        {
            <tr>
                <td>@col.RazonSocial </td>
                <td>@col.Nit </td>
                <td>@col.TipoServicios </td>
                <td>
                    <a class="btn btn-outline-primary" asp-page="./Editar" asp-route-id="@col.Id"><i class="fas fa-edit"></i> Editar</a>
                    <a class="btn btn-danger" asp-page="./Eliminar" asp-route-id="@col.Id"><i class="fas fa-trash-alt"></i> Eliminar</a>
                    <a class="btn btn-info" asp-page="./Detalles" asp-route-id="@col.Id"><i class="fas fa-info"></i> Detalles</a>
                </td>
            </tr>
        }
    </tbody>   
</table>